body{
    display: flex;
    justify-content: center;
    margin: 100px;
}
.border{
    border: 10px solid black;
    border-radius: 30px;

    height: 600px;
    width: 400px;
    min-height: 600px;
    min-width: 400px;
    
    background-color: blanchedalmond;
}
.results{
    border: 10px solid black;
    border-radius: 20px;
    height: 100px;
    flex: 1;
    margin: 20px 20px 40px;

    background-color: black;

    font-size: 32px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 20px;
    gap: 10px;
}
.num, .oper, .dec, .equal{
    border: 5px solid black;
    border-radius: 10px;
    
    width: 60px;
    height: 60px;

    background-color: white;

    font-size: 24px;
    font-weight: bold;

    display:flex;
    justify-content: center;
    align-items: center;
}
.clear, .delete{
    border: 5px solid black;
    border-radius: 10px;

    height: 60px;
    width: 140px;

    display:flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: bold;
}

.clear{
    background-color: aqua;
}

.delete{
    background-color: red;
}
.results{
    color: white;
}